#marron{
    background-color: rgb(159, 128, 112);
}

.marron{
    background-color: rgb(159, 128, 112);
    border: none;
    color: white;
}

.clarito{
    background-color: #ceb9ac;
}

body{
    font-family: 'Assistant', sans-serif;
}

.text-marron{
    color: rgb(159, 128, 112);
}